@*@model DirectiveViewModel

<div class="card h-100">
    <div class="card-header">
        <strong>@Model.Directive.DirectiveName</strong>
    </div>
    <div class="card-body">
        <p class="card-text">@Model.Directive.DisplayName</p>
        <partial name="_DirectiveSimple" model="Model"/>
    </div>
</div>*@